<pre>Premium: {{premumValue | currency }}</pre>
<pre>Excess: {{excess  | currency}}</pre>
<pre>Theft Excess: {{theftExcess  | currency}}</pre>

<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
  	<a ui-sref="form.review" class="btn btn-block btn-info">Back</a>
  </div>
</div>

